@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
.highlight-single-word {
  color: #fe875c;
}

.id {
  color: #fe875c;
  margin-right: 0.5rem;
}

.margin-top-big {
  margin-top: 7rem;
}

.margin-top-medium {
  margin-top: 5rem;
}

.margin-top-small {
  margin-top: 3rem;
}

.margin-bottom-big {
  margin-bottom: 7rem;
}

.margin-bottom-medium {
  margin-bottom: 5rem;
}

.margin-bottom-small {
  margin-bottom: 3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url("/images/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading-primary {
  font-family: "Chewy", cursive;
  font-size: 4.5rem;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  text-shadow: 0.3rem 0 0.3rem rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.heading-primary:hover {
  -webkit-transform: scale(1.05) skewX(5deg);
          transform: scale(1.05) skewX(5deg);
  text-shadow: 0.7rem 0 0.5rem rgba(255, 255, 255, 0.8);
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  width: 90%;
  margin: 0 auto;
}

.card {
  background-color: #ffffff;
  width: 70%;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.4rem rgba(255, 255, 255, 0.7);
          box-shadow: 0.5rem 0.5rem 0.4rem rgba(255, 255, 255, 0.7);
  min-height: 25rem;
}

.card__header {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.form {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form__control {
  width: 100%;
  margin: 0 auto;
}

.form__label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
}

.form__label:hover, .form__label:active {
  color: #fe875c;
}

.form__input {
  border: none;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 0.2rem solid #000000;
}

.form__input::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: #e5e5e5;
}

.form__input:focus {
  outline: 0;
  border-bottom: 0.2rem solid #000000;
}

.form__input:focus::-webkit-input-placeholder {
  color: #fe875c;
}

.form__input:focus:invalid {
  outline: none;
  border-bottom: 0.2rem solid #fe875c;
}

.form__input:not(output):-moz-ui-invalid {
  box-shadow: none;
}

.tasks {
  width: 70%;
}

.tasks__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tasks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 1.4rem;
  border-radius: 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0.4rem -0.4rem 0.3rem rgba(255, 255, 255, 0.5);
          box-shadow: 0.4rem -0.4rem 0.3rem rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tasks__item:not(:last-child) {
  margin-bottom: 1.2rem;
}

.tasks__item:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0.5rem -0.2rem 0.2rem rgba(255, 255, 255, 0.6);
          box-shadow: 0.5rem -0.2rem 0.2rem rgba(255, 255, 255, 0.6);
}

.tasks__link {
  font-size: 2rem;
  font-weight: 300;
  margin-left: auto;
  text-decoration: none;
  color: inherit;
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.btn--addTask {
  border-radius: 1.6rem;
  border: 0.2rem solid #e5e5e5;
  border-bottom: 0.6rem solid #e5e5e5;
  background-color: #ffffff;
  margin: 2rem 0;
  padding: 1.2rem 1.6rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn--addTask:hover {
  color: #ffffff;
  background-color: #1cb0f6;
  border-color: #fe875c;
}

.btn--addTask:active {
  border-bottom: 0.2rem solid #1cb0f6;
}
/*# sourceMappingURL=app.css.map */